.NewTaskForm .TaskForm-header {
  margin-bottom: 5.5rem;
}

.NewTaskForm-field {
  margin-left: 3.7rem;
  margin-right: 2rem;
  margin-bottom: 2.2rem;
}

.NewTaskForm-field textarea {
  width: 100%;
  max-width: 62.5rem;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid #e8e8e8;
}

.NewTaskForm-textarea-name {
  min-height: 8.8rem;
}

.NewTaskForm-textarea-description {
  min-height: 13.4rem;
}

.NewTaskForm .TaskForm-button {
  margin-left: 3.7rem;
  margin-top: 5.2rem;
}
