.NewTaskForm-field:first-child {
  padding-top: 5.5rem;
}

.NewTaskForm-field {
  margin-bottom: 2.2rem;
}

.NewTaskForm textarea {
  width: 100%;
  max-width: 62.5rem;
  min-width: 25rem;

  resize: none;
  border-radius: 0.5rem;
  border: 1px solid #e8e8e8;
}

.NewTaskForm-textarea-name {
  min-height: 8.8rem;
}

.NewTaskForm-textarea-description {
  min-height: 13.4rem;
}

.NewTaskForm .TaskForm-button {
  margin-top: 5.2rem;
  margin-bottom: 3rem;
}
