/* General */

.btn {
  border: none;
}

.btn:hover {
  filter: brightness(120%);
}

.btn:disabled {
  filter: brightness(70%);
}

/* For NewTaskForm and EditTaskForm */
.TaskForm {
  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow-y: auto;
  height: 100vh;
  flex-grow: 1;
}

.TaskForm-header {
  background: #1a4876;
  color: #fff;
  padding: 0 2.9rem 0 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.TaskForm-header img {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.TaskForm-header h1 {
  font-weight: normal;
  font-size: 1.8rem;
}

.TaskForm-button {
  background: #008cf0;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: var(--font-main);
  font-weight: lighter;
  padding: 0.9rem 4.1rem;
}

.TaskForm-fieldname {
  font-size: 1.4rem;
  font-family: 'Ubuntu';
  margin-bottom: 1.4rem;
  color: #9f9ea7;
}

/* For Tasks */

.Tasks-message {
  margin: 2rem 4rem;
  font-size: 1.8rem;
}

.Tasks-body {
  display: flex;
}

.Tasks-button {
  margin-top: 2.5rem;
  margin-left: 26rem;
  background: #008cf0;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-family: 'Ubuntu';
  font-weight: lighter;
  padding: 1.1rem 3.4rem;
}

.Tasks-body-left {
}

.Tasks-body-right {
  flex-grow: 1;
  background: #ecf3f7;
  border-left: 1px solid #d7dce0;
  width: 30%;
}
