.TableOfTasks table {
  border-collapse: collapse;
}

.TableOfTasks-priority {
  height: 5rem;
  width: 0.5rem;
}

.TableOfTasks-name {
  height: 100%;
  max-width: 37.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5rem;
  max-height: 3rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.TableOfTasks tr {
  border-bottom: 1px solid #dae0e7;
}

.TableOfTasks th:not(:first-child) * {
  font-family: 'Ubuntu';
  font-weight: normal;
  color: #404147;
}

.TableOfTasks th:not(:first-child, :last-child) * {
  border-right: 1px solid #dae0e7;
}

.TableOfTasks thead tr {
  text-align: left;
}

.TableOfTasks th {
  padding-top: 0.3rem;
  padding-bottom: 0.6rem;
}

.TableOfTasks td {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #525460;
}

.TableOfTasks th:not(:first-child) *,
.TableOfTasks td:not(:first-child) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.TableOfTasks th:first-child {
  padding-right: 1.5rem;
}

.TableOfTasks-status {
  border-radius: 1rem;
  font-size: 1.2rem;
  display: inline;
  text-transform: lowercase;
  white-space: nowrap;
  padding: 0.3rem 1.6rem;
}

.TableOfTasks-id {
  white-space: nowrap;
}

.TableOfTasks tbody tr:hover {
  background: #999;
  cursor: pointer;
}
