/* For Tasks */

.Tasks {
  --header-height: 6.5rem;
  --task-form-header-height: 6rem;
}

.Tasks .Header {
  height: var(--header-height);
}

.Tasks-body-left {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  overflow-x: visible;
  flex-grow: 1;
  flex-shrink: 1;
}

.Tasks-body-right {
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  overflow-x: visible;
  flex-grow: 100;
  flex-shrink: 5;
  border-left: 1px solid #d7dce0;
}

.Tasks-button {
  margin-top: 2.5rem;
  margin-left: 26rem;

  font-family: 'Ubuntu';
  font-size: 1.6rem;
  padding: 1.1rem 3.4rem;
}

@media screen and (max-width: 900px) {
  .Tasks-button {
    margin-left: 5rem;
  }
}

/* For TableOfTasks */

.TableOfTasks {
  margin-top: 2.5rem;
  margin-left: 0.3rem;
}

/* For NewTaskForm and EditTaskForm */

.TaskForm {
  background: #ecf3f7;
}

.TaskForm-body {
  min-height: calc(
    100vh - var(--header-height) - var(--task-form-header-height)
  );
  margin-left: 3.7rem;
  margin-right: 4.5rem;
}

.TaskForm-header {
  height: var(--task-form-header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #1a4876;
  color: #fff;
  padding-left: 3.7rem;
  padding-right: 2.9rem;
}

.TaskForm-header img {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.TaskForm-header h1 {
  font-weight: normal;
  font-size: 1.8rem;
}

.TaskForm-button {
  font-size: 1.4rem;
  font-family: 'Roboto';
  padding: 0.9rem 4.1rem;
}

.TaskForm-fieldname {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  font-family: 'Ubuntu';
  color: #9f9ea7;
}
