.Header {
  display: flex;
  background: var(--col-bg-200);
  padding: 1.5rem 1.7rem 1rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.Header-input {
  display: flex;
  align-items: center;
  flex-basis: 68rem;
  background: #fff;
  width: 50px;
  border-radius: 2em;
  padding: 0.75rem 1.9rem 0.75rem 0.9rem;
  border: 1px solid #a9b2c9;
}

.Header-input:focus-within {
  border-color: #42aaff;
  box-shadow: 0 0 7px 0 rgba(0, 140, 240, 0.15),
    inset -1px 0px 7px 0 rgba(0, 0, 0, 0.11);
}

.Header-input input {
  display: block;
  min-width: 0;
  border-width: 0;
  flex-grow: 1;
  /* The padding below is to make it easier for the user 
  to focus the input */
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #a9b2c9;
}

.Header-input input:focus {
  outline: none;
}

.Header-input img {
  width: 1.9rem;
  height: 1.9rem;
}
