.Tasks {
  display: flex;
  height: 100%;
}

.Tasks button {
  background: #008cf0;
  color: var(--col-text-contrast);
  border-radius: 2rem;
  font-size: 1.6rem;
  font-family: var(--font-alt);
  font-weight: lighter;
  margin-top: 2.5rem;
  margin-left: 26rem;
  padding: 1.1rem 3.4rem;
}

.Tasks-right-wrapper {
  flex-grow: 1;
  background: var(--col-bg-300);
}

@media screen and (max-width: 900px) {
  .Tasks button {
    margin-left: 5rem;
  }
}
