.App {
  background: #fff;
  display: flex;
  min-height: 100vh;
}

.App .Sidebar {
  flex-shrink: 0;
  position: fixed;
  height: 100%;
  width: 9.5rem;
}

.App .Main {
  flex-grow: 1;
  margin-left: 9.5rem;
}
