.Sidebar {
  background: #002137;
}

.Sidebar-logo {
  margin: 1.6rem auto 2.3rem auto;
}

.Sidebar ul {
  list-style: none;
  color: #fff;
  font-size: 1.2rem;
}

.Sidebar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Sidebar li:hover {
  cursor: pointer;
  background: #002c49;
}

.Sidebar-active {
  background: #002c49;
}

.Sidebar nav img {
  margin-bottom: 0.5rem;
}
